.lbh-content {
  @include lbh-font;

  @include govuk-media-query($until: tablet) {
    word-break: break-word;
  }

  h1,
  .lbh-heading-h1 {
    @include lbh-heading-h1;
  }

  h2,
  .lbh-heading-h2 {
    @include lbh-heading-h2;
  }

  h3,
  .lbh-heading-h3 {
    @include lbh-heading-h3;
  }

  h4,
  .lbh-heading-h4 {
    @include lbh-heading-h4;
  }

  h5,
  .lbh-heading-h5 {
    @include lbh-heading-h5;
  }

  h6,
  .lbh-heading-h6 {
    @include lbh-heading-h6;
  }

  p {
    @include lbh-body-m;
  }

  & &__excerpt {
    @include lbh-rem(margin-top, 6);
  }

  ul,
  ol {
    @include lbh-list;
  }

  ul {
    @include lbh-list--bullet;
  }

  ol {
    @include lbh-list--number;
  }

  a {
    @include lbh-link;
  }

  // sass-lint:disable placeholder-in-extend
  table {
    @extend .govuk-table;
    @extend .lbh-table;
  }

  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell;
  }
  // sass-lint:enable placeholder-in-extend

  img {
    width: 100%;
    height: auto;
  }

  .alignright {
    @include lbh-rem(margin, 6, 0, 24, 24);
    float: right;
  }

  .alignleft {
    @include lbh-rem(margin, 6, 24, 24, 0);
    float: left;
  }

  .image__third {
    @include govuk-media-query($from: tablet) {
      width: 50%;
    }

    @include govuk-media-query($from: desktop) {
      width: 33.333%;
    }
  }

  .image__half {
    @include govuk-media-query($from: tablet) {
      width: 50%;
    }
  }

  // sass-lint:disable placeholder-in-extend
  .fasc-button {
    @extend .govuk-button;
    @extend .lbh-button;
    margin-top: 0;
    background: lbh-colour("lbh-a01") !important;

    .body--purple & {
      background: lbh-colour("lbh-e01") !important;
    }

    &:hover {
      background: lbh-colour("lbh-a02") !important;

      .body--purple & {
        background: lbh-colour("lbh-e02") !important;
      }
    }

    &:focus {
      color: $govuk-focus-text-colour !important;
      background-color: $govuk-focus-colour !important;

      .body--purple & {
        background-color: $govuk-focus-colour !important;
      }
    }
  }
  // sass-lint:enable placeholder-in-extend
}

.post-edit-link {
  @include lbh-link;
  display: inline-block;
}

.lbh-date {
  @include lbh-hint;
  display: block;
  @include lbh-rem(margin-top, 12);
}

.lbh-date__text {
  font-weight: $lbh-font-weight-medium;
}

.lbh-category {
  @include lbh-hint;
  margin-top: 0;

  a {
    @include lbh-link;
  }
}

.lbh-iframe iframe {
  width: 100%;
}

.fa-external-link {
  color: lbh-colour("lbh-link");
  @include lbh-rem(margin-right, 6);
  @include lbh-rem(font-size, 12);
}
