.lbh-footer {
  margin-top: auto;
  @include lbh-rem(padding, 46, 0, 0);
  border-top: 2px solid lbh-colour("lbh-a03");
  background: lbh-colour("lbh-a01");

  .body--purple & {
    border-top-color: lbh-colour("lbh-e03");
    background: lbh-colour("lbh-e01");
  }

  .lbh-header__title-link {
    display: inline-block;

    @include govuk-media-query($from: desktop) {
      display: inline-flex;
    }
  }

  &__links {
    @include lbh-rem(margin-top, 24);
    @include lbh-rem(margin-bottom, 24);

    @include govuk-media-query($from: desktop) {
      @include lbh-rem(margin-top, 36);
      @include lbh-rem(margin-bottom, 36);
    }
  }

  &__link,
  &__bottom-link {
    &:link,
    &:visited {
      color: lbh-colour("lbh-white");
    }

    &:hover {
      text-decoration: none;
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  .flexbox &__links {
    @include govuk-media-query($from: desktop) {
      display: flex;
      @include lbh-rem(margin-left, -24);
      @include lbh-rem(margin-right, -24);
    }
  }

  .flexbox &__links-group {
    @include govuk-media-query($from: desktop) {
      width: 33.333%;
      margin-top: 0;
      @include lbh-rem(padding, 0, 24);
      border-right: 1px solid lbh-colour("lbh-border");

      &:last-child {
        border-right: 0;
      }
    }
  }

  &__list-item + &__list-item {
    margin-top: 1em;
  }

  &__link {
    font-family: $lbh-font-family;
    @include lbh-rem(font-size, 16);
    @include lbh-rem(line-height, 18);
    font-weight: $lbh-font-weight-regular;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__links-social {
    overflow: hidden;
    @include lbh-rem(margin-right, -6);
    @include lbh-rem(margin-left, -6);

    .flexbox & {
      display: flex;
      justify-content: space-between;

      @include govuk-media-query($from: desktop) {
        justify-content: flex-start;
      }
    }
  }

  &__social-item {
    @include lbh-rem(margin, 0, 6);
    float: left;

    .flexbox & {
      float: none;
    }
  }

  &__social-link {
    display: block;
    position: relative;
    @include lbh-rem(width, 32);
    @include lbh-rem(height, 32);
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: lbh-colour("lbh-white");
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  &__social-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: lbh-colour("lbh-white");

    .lbh-footer__social-link:focus & {
      fill: lbh-colour("lbh-black");
    }

    &--twitter {
      @include lbh-rem(width, 27);
      @include lbh-rem(height, 22);

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(width, 20);
        @include lbh-rem(height, 17);
      }
    }

    &--facebook {
      @include lbh-rem(width, 15);
      @include lbh-rem(height, 27);

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(width, 11);
        @include lbh-rem(height, 20);
      }
    }

    &--youtube {
      @include lbh-rem(width, 33);
      @include lbh-rem(height, 23);

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(width, 26);
        @include lbh-rem(height, 18);
      }
    }

    &--instagram {
      @include lbh-rem(width, 27);
      @include lbh-rem(height, 27);

      @include govuk-media-query($from: desktop) {
        @include lbh-rem(width, 20);
        @include lbh-rem(height, 20);
      }
    }
  }

  &__social-text {
    @include govuk-visually-hidden;
  }

  &__bottom {
    @include lbh-rem(padding, 12, 0);
    overflow: hidden;
    background: lbh-colour("lbh-black");

    @include govuk-media-query($from: desktop) {
      @include lbh-rem(padding, 24, 0);
    }

    .lbh-container {
      text-align: right;
    }
  }

  &__ogl {
    float: left;
    @include lbh-rem(width, 22);
    @include lbh-rem(height, 9);
    @include lbh-rem(margin-right, 6);

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      float: none;
      @include lbh-rem(margin-right, 2);
      vertical-align: middle;
    }
  }

  &__bottom-text {
    width: 100%;
    // sass-lint:disable no-duplicate-properties
    max-width: calc(100% - 28px);
    max-width: calc(100% - #{govuk-px-to-rem(28)});
    // sass-lint:enable no-duplicate-properties
    margin: 0;
    float: left;
    color: lbh-colour("lbh-white");
    font-family: $lbh-font-family;
    @include lbh-rem(font-size, 12);
    @include lbh-rem(line-height, 12);
    font-weight: $lbh-font-weight-regular;
    text-align: left;

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      width: auto;
      max-width: none;
      float: none;
      vertical-align: middle;
    }
  }
}
