.lbh-header {
  min-width: 320px;

  &--fixed + * {
    margin-top: 9.5rem;

    @include govuk-media-query($from: tablet) {
      margin-top: 6.25rem;
    }
  }

  &__logo--svg {
    display: none;

    .svg & {
      display: block;
    }
  }

  &__logo--png {
    display: block;
    margin-top: 0;

    .svg & {
      display: none;
    }
  }

  &__nav {
    display: flex;
    margin: 0 -2px;
    align-items: flex-start;
    justify-content: space-between;

    @include govuk-media-query($from: desktop) {
      justify-content: flex-end;
    }
  }

  &__nav-link {
    @include lbh-link;
    margin: 0 0 0 24px;
    padding: 12px 2px 4px;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    text-decoration: none;

    &,
    &:link,
    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: lbh-colour("lbh-white");
    }

    &:hover {
      border-bottom-color: lbh-colour("lbh-white");
    }

    &:focus {
      @include govuk-focused-text;
      border-bottom-color: transparent;
    }

    &:first-child {
      margin-left: 0;
    }

    @include govuk-media-query($from: tablet) {
      &:first-child {
        margin-left: 30px;
      }
    }

    &--dashboard {
      display: none;

      @include govuk-media-query($from: tablet) {
        display: block;
      }
    }
  }

  .lbh-skip-link:focus + & {
    top: 40px;
  }
}
