.lbh-header {
  min-width: 320px;

  &--fixed + *,
  .js-enabled &--fixed + .lbh-nav + * {
    @include lbh-rem(margin-top, 108);

    @include govuk-media-query($from: tablet) {
      @include lbh-rem(margin-top, 100);
    }
  }

  .body--purple &__service-name {
    color: lbh-colour("lbh-h04");
  }

  &--fixed + .lbh-breadcrumbs,
  &--fixed + .lbh-nav + .lbh-breadcrumbs {
    @include lbh-rem(margin-top, 126);

    @include govuk-media-query($from: tablet) {
      @include lbh-rem(margin-top, 118);
    }
  }

  &__logo img {
    margin-top: 0;
  }

  &__logo--svg {
    display: none;

    .svg & {
      display: block;
    }
  }

  &__logo--png {
    display: block;
    margin-top: 0;

    .svg & {
      display: none;
    }
  }

  &__menu-link {
    box-sizing: border-box;
    @include lbh-rem(margin-top, 8);
    padding-right: 0;
    padding-left: 0;
    border: 1px solid transparent;
    background: none;
    fill: lbh-colour("lbh-white");
    cursor: pointer;
    -webkit-appearance: none;
    pointer-events: all;

    &:hover {
      border-bottom: 1px solid lbh-colour("lbh-white");
    }

    &:focus {
      border-bottom-color: transparent;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
      @include lbh-rem(min-width, 86);
      @include lbh-rem(height, 38);
      @include lbh-rem(padding, 4, 0);
    }
  }

  &__menu-link--close,
  &__menu-link--menu {
    display: flex;
    cursor: pointer;
    flex-direction: column-reverse;
    align-items: center;

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  &__menu-link--close {
    display: none;
    margin: 0;

    .lbh-header__menu-link--open & {
      display: flex;

      @include govuk-media-query($from: tablet) {
        display: block;
      }
    }
  }

  .lbh-header__menu-link--open &__menu-link--menu {
    display: none;
  }

  &__menu-link-text {
    @include lbh-body-s;
    @include lbh-rem(font-size, 10);
    @include lbh-rem(line-height, 12);
    color: lbh-colour("lbh-white");
    text-transform: uppercase;
    cursor: pointer;

    .lbh-header__menu-link:focus & {
      color: lbh-colour("lbh-black");
    }

    @include govuk-media-query($from: tablet) {
      @include lbh-body-m;
      color: lbh-colour("lbh-white");
      text-transform: none;
    }
  }

  &__menu-link-icon {
    cursor: pointer;
  }

  &__nav-link {
    display: none;

    @include govuk-media-query($from: tablet) {
      display: block;
      border: 1px solid transparent;
    }

    &:hover {
      border-bottom: 1px solid lbh-colour("lbh-white");
    }
  }

  &__links &__nav-link,
  &__menu-link-text {
    font-weight: $lbh-font-weight-medium;
    text-decoration: none;
  }

  &__links &__nav-link,
  &__menu-link {
    &:focus {
      @include govuk-focused-text;
      fill: lbh-colour("lbh-black");
    }
  }

  &__links a + button,
  &__links button + a {
    @include lbh-rem(margin-left, 18);
  }

  & &__search {
    display: block;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      box-sizing: border-box;
      @include lbh-rem(height, 38px);
      @include lbh-rem(padding, 4px, 0);
    }
  }

  &__search-text {
    @include govuk-visually-hidden;
  }

  &__search-icon {
    box-sizing: border-box;
    @include lbh-rem(width, 32);
    @include lbh-rem(height, 32);
    margin: 0;
    padding: 0;
    fill: lbh-colour("lbh-white");

    .lbh-header__nav-link:focus & {
      fill: lbh-colour("lbh-black");
    }

    @include govuk-media-query($from: tablet) {
      @include lbh-rem(width, 30);
      @include lbh-rem(height, 30);
      @include lbh-rem(padding, 4);
    }
  }

  &__menu-link-icon {
    margin-top: 0;

    @include govuk-media-query($from: tablet) {
      @include lbh-rem(margin-left, 8);
    }
  }

  &__menu-link-icon--mobile {
    @include lbh-rem(width, 40);
    @include lbh-rem(height, 25);

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  &__menu-link-icon--desktop {
    display: none;

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      @include lbh-rem(width, 17);
      @include lbh-rem(height, 15);
    }
  }

  .no-flexbox &__wrapper {
    overflow: hidden;
  }

  .no-flexbox &__links {
    float: right;
  }

  .no-flexbox &__nav-link,
  .no-flexbox &__menu-link {
    float: left;
  }

  .no-flexbox &__title {
    float: left;
  }
}
