img {
  display: block;
  width: 100%;
  height: auto;
}

.lbh-image {
  display: flex;
  width: 100%;
  margin-top: 1.5em;
  flex-direction: column;

  @include govuk-media-query($from: tablet) {
    box-sizing: border-box;
    @include lbh-rem(padding, 0, 10px);
  }
}

.lbh-image--double {
  @include govuk-media-query($from: tablet) {
    width: 50%;
    float: left;
  }
}

.lbh-image--triple {
  @include govuk-media-query($from: tablet) {
    width: 33.333%;
    float: left;
  }
}

.lbh-image__wrapper {
  position: relative;
  width: 100%;
  padding-top: 150%;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .lbh-image--landscape & {
    padding-top: 66.67%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.lbh-image__section {
  margin-top: 1.5em;
  overflow: hidden;

  @include govuk-media-query($from: tablet) {
    display: flex;
    @include lbh-rem(margin-left, -10px);
    @include lbh-rem(margin-right, -10px);
  }
}

.lbh-image__caption {
  @include lbh-body-s;
  margin-top: 0;
  @include lbh-rem(padding, 12);
  background: lbh-colour("lbh-grey-4");
  flex-grow: 1;
}
