.lbh-social-blocks {
  display: none;

  @include govuk-media-query($from: desktop) {
    display: block;
    margin-top: 0;
    background: lbh-colour("lbh-grey-4");
    box-shadow: inset 0 0 15px rgba(lbh-colour("lbh-black"), .2);
  }
}

$youtube: #ff0000;
$google-plus: #dd4b39;
$twitter: #00aced;
$facebook: #3b5998;
$instagram-yellow: #fdf497;
$instagram-red: #fd5949;
$instagram-pink: #d6249f;
$instagram-blue: #285aeb;

.lbh-social-block {
  position: relative;

  @include govuk-media-query($from: desktop) {
    width: 33.333%;
  }

  &__wrapper {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    border: 1px solid lbh-colour("lbh-grey-2");
    border-radius: 12px;
    @include lbh-rem(padding, 24);
    background: lbh-colour("lbh-white");
  }

  &__title {
    @include lbh-rem(margin-bottom, 48);
  }

  &__title-image {
    @include lbh-rem(width, 139);
  }

  &__title-text {
    display: inline-block;
    margin: 0;
    @include lbh-rem(font-size, 14);
    @include lbh-rem(line-height, 19);
  }

  &__icon-wrapper {
    display: block;
    position: absolute;
    @include lbh-rem(top, 24);
    @include lbh-rem(right, 24);
    @include lbh-rem(width, 88);
    @include lbh-rem(height, 88);
    margin: 0;
    border: 1px solid lbh-colour("lbh-grey-3");
    border-radius: 50%;
    background: lbh-colour("lbh-grey-4");
    text-align: center;

    .fab {
      @include lbh-rem(font-size, 40);
      @include lbh-rem(margin, 24, 0);
    }

    .svg-inline--fa {
      @include lbh-rem(font-size, 40);
      @include lbh-rem(margin, 24, 0);
    }

    .fa-google-plus {
      color: $google-plus;
    }

    .fa-youtube {
      color: $youtube;
    }

    .fa-twitter {
      color: $twitter;
    }

    .fa-facebook {
      color: $facebook;
    }

    .fa-instagram {
      color: transparent;
      background: radial-gradient(circle at 30% 107%, $instagram-yellow 0%, $instagram-yellow 5%, $instagram-red 45%, $instagram-pink 60%, $instagram-blue 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, $instagram-yellow 0%, $instagram-yellow 5%, $instagram-red 45%, $instagram-pink 60%, $instagram-blue 90%); // sass-lint:disable-line no-duplicate-properties
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  iframe {
    width: 100%;
    margin: 0;
  }

  &--instagram iframe {
    min-width: unset !important;
  }

  &--facebook iframe {
    height: 500px;
  }

  &--youtube iframe {
    height: auto;

    & + iframe {
      @include lbh-rem(margin-top, 12);
    }
  }
}
